* {
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-gallery {
    background-color: #e3e3e3;
    height: 100%;
    display: grid;
    gap: 10px;
    padding: 15px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box-img {
    max-width: 350px;
    cursor: pointer;
}


/* searching */

.searching {
    background-color: #fff;
    height: 5rem;
}


/* modal */

.modal {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    position: fixed;
    text-align: center;
    cursor: pointer;
    top: 0;
    z-index: 2;
    scroll-behavior: smooth;
}

.modal-container {
    margin: 0;
    padding: 0px;
    height: 508px;
    background-color: #e3e3e3;
}

.canvas {
    width: 30rem;
    height: 30rem;
    margin-right: 5rem;
    margin-top: 15px;
    border: 1px solid black;
}

.img-btn {
    width: 1.5rem;
    height: 1rem;
}

.text-input {
    font-size: 10px;
    width: 10rem;
    height: 2rem;
}

.contein-footer1 {
    width: 100%;
    height: 7rem;
    background-color: #ff7f00;
}

.all-button {
    width: 17.75rem;
    height: 2.95rem;
    border-radius: 12px;
    background-color: #e3e3e3;
    justify-content: space-around;
}

.btn-main {
    height: 450px;
    justify-content: space-around;
}

.menu-btn-hamburger {
    display: none;
}

.share-btn>* {
    background-color: #ff7f00;
    height: 3rem;
    width: 6rem;
}

.share-btn>*:first-child {
    margin-right: 10px;
}


/* Nav Bar */

.logo {
    width: 133px;
    height: 22px;
}

.main-nav-container {
    padding: 0 50px 0 50px;
    background-color: #ff7f00;
    color: #e0e0e0;
}

.nav-btn {
    font-family: sans-serif;
    border-color: #1d1d1d;
    text-align: center;
    color: #ffffff;
    height: 66px;
    width: 60px;
    font-size: 19px;
    font-weight: 500;
    padding: 24px 0 27px;
}

.nav-btn:hover {
    color: #040a2c;
    border-bottom: solid 4px #040a2c;
    cursor: pointer;
}

.nav-btn1 {
    margin-right: 20px;
}


/* helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.direction-col {
    flex-direction: column;
}

.flex.flex-end {
    justify-content: end;
}

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


/* me - container*/

.container-section {
    height: 15rem;
    background-color: #fff;
    padding: 70px 0 150px;
}

.ariel-img {
    height: 20rem;
    border-radius: 50%;
    margin-right: 40px;
}

.links {
    width: 39px;
    height: 39px;
    border-radius: 12px;
    background-color: #ff7f00;
}

.all-links-container {
    margin-right: 30px;
}


/* footer */

.contein-footer {
    width: 100%;
    height: 12.5rem;
    background-color: #ff7f00;
    margin-top: 190px;
}

.btn-links>* {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.25rem;
}

.me-images {
    width: 13px;
    height: 25px;
    background-color: #ffffff;
}


/* Media Queries */

@media (max-width: 1132px) {
    .container-gallery {
        background-color: #e3e3e3;
        height: 100%;
        display: grid;
        gap: 10px;
        padding: 15px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .box-img {
        max-width: 250px;
    }
}

@media (max-width: 1000px) {
    .canvas {
        width: 27rem;
        height: 28rem;
        margin-right: 2rem;
        margin-top: 15px;
    }
}

@media (max-width: 982) {
    .container-gallery {
        background-color: #e3e3e3;
        height: 100%;
        display: grid;
        gap: 10px;
        padding: 15px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .box-img {
        max-width: 300px;
    }
}

@media (max-width: 900px) {
    .modal {
        transform: translate(0%, 0%);
        overflow: scroll;
        height: 100%;
        width: 100%;
    }
    .canvas {
        width: 100%;
        height: 80vh;
        align-items: center;
        padding: 20px;
        border: unset;
    }
    .all-button {
        width: 100%;
        height: 2.95rem;
        border-radius: 12px;
        background-color: #e3e3e3;
        justify-content: center;
        align-items: center;
    }
    .modal-container {
        flex-direction: column;
        margin: 0;
        padding: 0px;
        height: unset;
        background-color: #e3e3e3;
    }
    .btn-main {
        height: 265px;
        justify-content: space-around;
    }
    .menu-btn-hamburger {
        display: block;
        font-family: sans-serif;
        color: #fff;
        background-color: #ff7f00;
        height: 65px;
        width: 60px;
        font-size: 40px;
        padding: 2px 0 12px;
        text-align: center;
    }
    .main-nav {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: #fff;
        border-left: 1px solid #d2d2d2;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
        min-width: 230px;
        transform: translate(100%, 0);
        transition: transform .8s, box-shadow .3s;
    }
    .menu-open .main-nav {
        transform: translate(0, 0);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
        background-color: #ff7f00;
    }
    .screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        opacity: 0;
        transition: opacity .3s;
        visibility: hidden;
    }
    .menu-open .screen {
        opacity: 1;
        visibility: visible;
    }
    .nav-btn {
        background-color: #ff7f00;
        color: #e0e0e0;
        height: 80px;
        width: 100%;
        font-family: sans-serif;
        font-size: 22px;
        font-weight: 650;
        letter-spacing: 0.7px;
        border: 1px black solid;
    }
    .nav-btn:hover {
        color: #f5d64e;
        border-bottom: 0px;
        cursor: pointer;
        font-size: 24px;
        font-weight: 700;
        border: 2px black solid;
    }
    .nav-btn1 {
        margin-bottom: .5px;
    }
    .container-section {
        flex-direction: column;
    }
    .ariel-img {
        height: 14rem;
        width: 16rem;
        border-radius: 50%;
        margin: auto;
        margin-bottom: -70px;
    }
    .container-gallery {
        background-color: #e3e3e3;
        height: 100%;
        display: grid;
        gap: 10px;
        padding: 15px;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
    .box-img {
        max-width: 220px;
    }
}

@media (max-width: 772px) {
    .canvas {
        width: 100vw;
        height: unset;
        align-items: center;
        padding: unset;
        border: unset;
    }
}

@media (max-width: 742px) {
    .container-gallery {
        background-color: #e3e3e3;
        height: 100%;
        display: grid;
        gap: 10px;
        padding: 15px;
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
    .box-img {
        max-width: 190px;
    }
}

@media (max-width: 652px) {
    .container-gallery {
        background-color: #e3e3e3;
        height: 100%;
        display: grid;
        gap: 10px;
        padding: 15px;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    .box-img {
        max-width: 140px;
    }
}