* {
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-gallery {
    background-color: #e3e3e3;
    height: 100%;
    display: grid;
    gap: 10px;
    padding: 15px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box-img {
    max-width: 350px;
    cursor: pointer;
}


/* searching */

.searching {
    background-color: #fff;
    height: 5rem;
}


/* modal */

.modal {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
    cursor: pointer;
    top: 0;
    z-index: 2;
}

.modal-container {
    margin: 0;
    padding: 0px;
    height: 565px;
}

.canvas {
    width: 30rem;
    height: 30rem;
    margin-right: 1.5rem;
}

.img-btn {
    width: 1.5rem;
    height: 1rem;
}

.text-input {
    font-size: 10px;
}

.contein-footer1 {
    width: 100%;
    height: 5.5rem;
    background-color: #ff7f00;
    /* margin-top: 10px; */
}


/* Nav Bar */

.logo {
    width: 133px;
    height: 22px;
}

.main-nav-container {
    padding: 0 50px 0 50px;
    background-color: #ff7f00;
    color: #e0e0e0;
}

.nav-btn {
    font-family: sans-serif;
    border-color: #1d1d1d;
    color: #ffffff;
    height: 66px;
    width: 60px;
    font-size: 19px;
    font-weight: 400;
    padding: 24px 0 27px;
    text-align: center;
}

.nav-btn:hover {
    color: #040a2c;
    border-bottom: solid 4px #040a2c;
    cursor: pointer;
}

.nav-btn1 {
    margin-right: 20px;
}


/* helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.direction-col {
    flex-direction: column;
}

.flex.flex-end {
    justify-content: end;
}

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


/* me */

.container-section {
    height: 15rem;
    background-color: #fff;
    padding: 70px 0 150px;
}

.ariel-img {
    height: 20rem;
    border-radius: 50%;
    margin-right: 40px;
}

.links {
    width: 39px;
    height: 39px;
    border-radius: 12px;
    background-color: #ff7f00;
}


/* footer */

.contein-footer {
    width: 100%;
    height: 12.5rem;
    background-color: #ff7f00;
    margin-top: 190px;
}

.btn-links>* {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.25rem;
}

.me-images {
    width: 13px;
    height: 25px;
    background-color: #ffffff;
}